.container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .image-wrapper {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    height: 95%;

    align-items: center;
    justify-content: center;

    overflow-y: auto;
  }

  .pagination-wrapper {
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

    app-pagination {
      width: 100%;
    }
  }

  .no-results {
    color: gray;
  }

  .image {
    margin: 0.5rem;

    width: 25%;

    &:hover,
    &:active {
      transform: scale(1.5);
    }
  }
}
