@import 'index';

.container {
  width: 80vw;
  height: 80vh;

  position: relative;

  padding: 1rem;

  .database-select {
    position: absolute;

    padding: 0.2rem 0.8rem;
    font-family: $theme-font;
    font-size: 1.1rem;
  }

  .content-wrapper {
    height: 95%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    .search-bar {
      height: 10%;
      width: 100%;
    }

    .character-modal {
      transition: height 500ms ease-in-out;
      height: 85%;
    }

    .text-header,
    .text-footer {
      text-align: center;
      font-family: $theme-font;
    }

    .text {
      transition: opacity 250ms linear 0ms, max-height 250ms linear 250ms,
        margin 250ms linear 250ms;
    }
  }
}

.hide-element {
  opacity: 0;
  max-height: 0;
  pointer-events: none;
}

.show-element {
  opacity: 1;
  max-height: 200px;
  pointer-events: auto;
}
