<div class="container">
  <div class="component-wrapper">
    <app-editable-text-input [placeholder]="'Your text here'">
    </app-editable-text-input>
  </div>

  <div class="component-wrapper">
    <app-rounded-button [isLoading]="buttonLoading" (clicked)="onClick()">
      <i class="fa-solid fa-plus"></i>
    </app-rounded-button>
  </div>

  <div class="component-wrapper">
    <app-page-title class="page-title-styles" [value]="'Test Page Title'">
    </app-page-title>

    <app-character-thumbnail
      class="thumbnail-styles"
      [source]="
        'https://images.pexels.com/photos/1816237/pexels-photo-1816237.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=627&w=1200'
      "
      [position]="'bottom'"
    >
    </app-character-thumbnail>
  </div>

  <div class="component-wrapper">
    <app-page-title class="page-title-styles" [value]="'Test Page Title'">
    </app-page-title>
  </div>

  <div class="component-wrapper">
    <app-text-editor class="text-editor"></app-text-editor>
  </div>

  <div class="component-wrapper">
    <app-search-bar></app-search-bar>
  </div>

  <div class="component-wrapper">
    <app-image-search-display
      class="character-modal"
      [sourceUrls]="images"
    ></app-image-search-display>
  </div>

  <div class="component-wrapper">
    <app-pagination></app-pagination>
  </div>

  <div class="component-wrapper">
    <app-toggle></app-toggle>
  </div>

  <div class="component-wrapper">
    <app-statistics-item
      class="statistics-item"
      [label]="'test-label'"
      [abilityScore]="3"
    ></app-statistics-item>
  </div>

  <div class="component-wrapper">
    <app-statistics class="stastistics-component" [stats]="stats">
    </app-statistics>
  </div>
</div>
